{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"printWidth": 80,
	"bracketSpacing": true,
	"arrowParens": "always",
	"proseWrap": "preserve",
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"singleQuote": false
			}
		},
		{
			"files": "*.css",
			"options": {
				"singleQuote": false
			}
		},
		{
			"files": "*.json",
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": "*.md",
			"options": {
				"proseWrap": "always",
				"printWidth": 80
			}
		},
		{
			"files": "*.html",
			"options": {
				"printWidth": 120
			}
		}
	]
}
